*{
    padding: 0;
    margin: 0;
}
.main{
    position: relative;

}

.header{
    display: flex;
    justify-content: space-around;
    /* background: red; */
    height: 7rem;
}

.logo {
    height: 57%;
    padding-top: 1.5rem;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-items > ul > li{
    padding: 2.9rem;
}

.search-container{
    padding: 10px;
    padding-left: 144px;
    /* background-color: green; */
}

.search-input{
    padding:1px;
    margin-right: 10px;
}

.restaurant-list {
    display: flex;
    padding: 17px 144px;
    flex-wrap: wrap;
    /* background-color: aqua; */
}

.card{
    height: 300px;
    width: 229px;
    padding: 20px 27px 57px;
    margin-right:20px;
    margin-bottom: 29px;
    margin-top: 17px;
    /* background-color: yellow; */
}

.card:hover{
    transition: 0.5s ease;
    box-shadow: 0.5px 0.5px 3px 0.2px grey;
}

.card > img{
    width: 100%;
}

.card > h4 {
    word-wrap: break-word;
}



.shimmer-card{
    width: 250px;
    height: 250px;
    background-color: lightgray;
    margin: 20px;
}

.restaurant-menu{
    display:block;
}

.restaurant-details{
    display: flex;
    background-color: #171a29;
    color: #fff;
}

.restaurant-menu-img{
    max-width: 250px;
    padding-top:39px;
    padding-left: 144px;
    padding-bottom: 39px;
}

.restaurant-details>ul{
    display: block;
    padding-top: 50px;
    padding-left: 50px;

}
.restaurant-menu-name{
    font-size: 27px;
    font-weight: 500;
    padding-bottom: 10px;
}

.restaurant-menu-locality, .restaurant-menu-area, .restaurant-menu-city{
    display:contents;
    font-size: 15px;
    font-weight: 300;
    color: rgb(171, 167, 167);
}

.restaurant-menu-rating, .restaurant-menu-cost{
    font-size: 17px;
    font-weight: 300;
    padding-top: 20px;
}

.restaurant-menu-card{
    /* background-color: yellow; */
    padding-left: 45px;
    margin-left: 400px;
    margin-right: 300px;
    border: 1px solid#171a29;
    margin-bottom: 12px;
}

.restaurant-menu-card-details{
    list-style: none;
    font-size: 17px;
    font-weight: 500;
}

.restaurant-menu-card-details-veg{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 11px;
}

.restaurant-menu-card-details-name{
    padding-top: 10px;
    padding-bottom: 7px;
    color: #3e4152;
}

.restaurant-menu-card-details-price{
    font-size: 15px;
    padding-bottom: 1px;
}

.restaurant-menu-card-details-desc{
    padding-top: 12px;
    color: rgba(40, 44, 63, .45);
    font-size: 15px;
    /* background-color: aquamarine; */
    padding-right: 10px;
    margin-right: 300px;
    text-align: left;
}

.restaurant-menu-card-img{
    width: 110px;   
}

.restaurant-name{
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
    padding-top: 3px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    font-family:'ProximaNova','arial','Helvetica Neue','sans-serif';
}

.restaurant-cuisines{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 7px;
    color: rgb(78, 68, 68);
}

.restaurant-distance{
    font-size: 15px;
    font-weight: 500;
    padding-top: 13px;
    color: rgb(78,68,68)
}

.restaurant-card-link{
    text-decoration: none;
}

.card >ul{
    display: flex;
    justify-content: space-between;
}

.form{
    background-color: green;
}

.isOnline {
    margin-top: 45px;
    margin-right: 50px;
    font-size: x-large;
}